@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');


* {
    text-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Syne', sans-serif;
    flex-wrap: wrap;
}


html,
body {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

body::-webkit-scrollbar {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #C5CAE9 0%, #957DAD 50%, #65487C 100%);
}



.wrapper {
    border: 1px solid transparent;
    border-image: linear-gradient(170deg, #C5CAE9 0%, #957DAD 50%, #65487C 100%);
    border-image-slice: 1;
    border-image-width: 1px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.footer-container-2 .social-media-icons i {
    color: #000;
    margin: 5px;
}

h2 {
    font-size: 55px;
    line-height: 62px;
    color: #161513;
    font-weight: 700;
    margin-block-start: 1em;
    margin-block-end: 1em;
    background: transparent;
}


/* :root {
    --contrast: #222222;
    --contrast-2: #575760;
    --contrast-3: #b2b2be;
    --base: #f0f0f0;
    --base-2: #f7f8f9;
    --base-3: #ffffff;
    --accent: #1e73be;
} */

/* First Container's CSS Starts Here */

header {

    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: black;
    color: white;

}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 17px;
    font-weight: 400;
}

.logo img {
    width: 40px;
    height: 40px;
}

header nav ul li {
    padding: 0px 14px;
}

header nav a {
    text-decoration: none;
    margin: 10px;
    color: white;
}

.first-container {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80dvh;
}

.first-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.first-left>* {
    margin: 5px;
}

.first-left h1 {

    color: #161513;
    font-size: 70px;
    line-height: 85px;
}

.first-left h3 {

    background: linear-gradient(270deg, #C5CAE9 0%, #957DAD 50%, #65487C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 39px;
    line-height: 35px;
}

.first-left p {
    color: #161513;
}



.btn {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    padding: 9px 32px;
    cursor: pointer;
    transition: .2s ease-out;
    width: 150px;

}

/* Second Container is no more.... */

.btn-hello {

    color: #fff;
    background: linear-gradient(270deg, #C5CAE9 0%, #957DAD 50%, #65487C 100%)
}

.btn-work {
    background: transparent;
}

.first-right {
    width: 50%;

}

.hero-image img {
    width: 300px;
    border: none;
    outline: none;

}


/* Second  Container's CSS Starts Here */

.second-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 90dvh;
    color: #3f3f3f;
    padding: 10px;
    background: linear-gradient(270deg, #C5CAE9 0%, #957DAD 50%, #65487C 100%);

}

.second-container h2 {
    color: #E9F0F5;
}

.experiences {
    display: flex;
    width: 100%;
    height: 36dvh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}

.experience {
    height: 100%;
    width: 22%;
    padding: 10px;
    text-align: left;
    color: #161513;
    font-size: 16px;
    background-color: #E9F0F5;
    overflow-y: auto;
}

.experience::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.experience::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

.lock-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: #3a3a3a;
    /* Adjust the color as needed */
}

.experience-4 {
    filter: blur(2px);
}

.experience li {
    font-size: 14px;
    list-style-type: none;
}

.experience span {
    font-size: 11px;
    color: #3a3a3a;
    font-weight: 600;
}

.experience hr {
    margin: 15px 0px;
    border: .01px solid #ffb2b6;
}


/* Third  Container's CSS Starts Here */
.third-container {
    width: 100%;
    text-align: center;
    color: #161513;
    font-size: 16px;
}

.projects {
    width: 90%;
    background: #E9F0F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #161513;
    font-size: 16px;
}

.project img {
    max-width: 100%;
    height: auto;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.project img:hover {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    transform: scale(1.01) translateZ(-100px);
}

.project {
    display: flex;
    width: 100%;
    background-color: #E9F0F5;
    margin: 10px;
}

.project-left {
    flex: 40%;
    padding: 10px;
}

.project-right {
    flex: 60%;
    padding: 10px;
}

/* Fourth  Container's CSS Starts Here */

.fourth-container {
    flex-direction: column;
    height: 92dvh;
}



.cards {
    display: flex;
    flex-direction: row;

}

.cards>* {
    margin: 10px;
    border: 2px solid #161513;
    padding: 30px;
    text-align: center;

}

.card>* {
    padding: 5px;
}

.card .price {
    font-size: 64px;
    font-weight: 700;
    padding: 20px;
}

.small-text {
    font-size: 12px;
}


.card-1,
.card-3 {

    border: 2px solid #161513;
    background-color: #E9F0F5;
}

.card-2 {
    color: #fff;
    border: 2px solid #161513;
    background-color: #000;
}

.card-2 .price {
    background: linear-gradient(270deg, #C5CAE9 0%, #957DAD 50%, #65487C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.special-small-text {
    font-size: 12px;
    -webkit-text-fill-color: white;
}


/* Fifth  Container's CSS Starts Here */





/* Footer's Css is Here */

footer {
    color: #f6f6f6;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #000;
    padding-block: 60px;
    flex-direction: column;
}

.footer-container {
    width: 89%;
    height: auto;
    padding: 90px;
    background: linear-gradient(270deg, #C5CAE9 0%, #957DAD 50%, #65487C 100%);
}

.footer-container h3 {
    font-size: 64px;
    color: #fff;
    line-height: 72px;
    font-weight: 700;
    margin-inline: 10px;

}

.footer-container-2 {
    background: #E9F0F5;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-container-2 img {
    width: 40px;
    height: 40px;
}

.footer-container-2 span {
    background: #f6f6f6;
    color: black;
    display: inline;
}

q {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 1%;
    height: auto;
    letter-spacing: .7px;
    font-weight: 600;
    border: none;
    outline: none;
    background: linear-gradient(270deg, #C5CAE9 0%, #957DAD 50%, #65487C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}